@import "./variables.scss";

body {
  font-family: $main;
  font-size: 16px;
}

a {
  text-decoration: none;
}

:link,
:visited {
  color: inherit;
}

.navbar {
  font-size: 15px;
  padding: 8px;
  background-image: url(https://veteranopizza.com/public/assets/img/pat.jpg);
  width: 100vw;
  height: 190px;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1270px;
    height: 100%;
    background-color: red;
    display: flex;

    .nav__block {
      background-color: green;
      height: calc(100% - 16px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      font-weight: 700;
      font-size: 16px;

      .dropdown {
        display: inline-block;
        position: relative;
      }

      .dropdown label {
        display: block;
        margin-bottom: 10px;
        color: $text-color;
      }

      .dropdown select {
        display: block;
        width: 100%;
        padding: 8px;
        font-family: inherit;
        border: 1px solid #ccc;
        border-radius: 4px;
        appearance: none;
        background: transparent;
        background-color: #7eb103;
        background-repeat: no-repeat;
        background-position: right 8px center;
        cursor: pointer;
        color: $text-color;
      }

      a {
        color: $text-color;
      }

      .dropdown select:focus {
        outline: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }

      .dropdown select option {
        font-family: inherit;
      }

    }

    .phone-icon {
      display: inline-block;
      font-size: 0.8em;
      margin-right: 0.2em;
      vertical-align: middle;
    }

    .nav__logo {
      background-image: url(https://seeklogo.com/images/P/pizza-logo-42816D88BE-seeklogo.com.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
    }

    span {
      color: #7eb103;
    }

    .nav__orders {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .address-icon {
        color: $text-color;
      }

      .address-time {
        color: #E21719;
        margin-top: 15px;
      }
    }

  }
}