@media screen and (max-width: 800px) {

  /* navbar */
  .language__switcher {
    flex-direction: column;
    gap: 5px;
  }

  .dropdown .phone-number .nav__address-first .nav__address-second .nav__orders .language__switcher>li>label,
  .sticky__list .payament__sum .total__price {
    font-weight: 500;
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 700px) {
  .navbar .container .logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar .container .nav__block  {
    font-size: 13px;
  }
}

@media screen and (max-width: 470px) {
  .navbar .container  {
    flex-direction: column;
  }
}